@use "../../assets/styles/" as *;

.OffersPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: pixRem(40);

  @include sm() {
    row-gap: pixRem(32);
  }

  .offersList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 50vh;
    padding: pixRem(100);
    column-gap: 40px;
    row-gap: 100px;
    justify-items: center;
    align-items: center;

    @include sm() {
      padding: pixRem(48) 18px;
      row-gap: 44px;
      grid-template-columns: 1fr;
    }

    @include md() {
      padding: pixRem(48) 18px;
      row-gap: 44px;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
  }

  .btn_container {
    width: 100%;
    display: flex;
    justify-content: center;

    .view_more_btn {
      border: none;
      background: #2e70cb;
      opacity: 0.7;
      padding: 32px 64px;
      cursor: pointer;

      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
      transition: all ease 0.2s;
    }

    .view_more_btn:hover {
      opacity: 1;
    }
  }
}
