@use "../../assets/styles/" as *;

.PropertyDetailsPage {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm() {
  }

  .Details_container {
    display: grid;
    grid-template-columns: 65% 30%;
    padding: pixRem(48) pixRem(100);
    gap: 5%;
    width: 100%;

    @include sm() {
      display: flex;
      flex-direction: column;
      padding: 40px 18px;
    }
  }
}
