@use "../../assets/styles/" as *;

.SplashPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  width: 100vw;
  height: 100vh;

  @include sm() {
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  h2,
  p {
    animation-name: load_in_out;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes load_in_out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
