@use "../../assets/styles/" as *;

.PublicPageLayout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1720px;

    .Navbar_container {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      justify-content: center;
      border: 1px yellow solid;

      .Navbar_Child_Container {
        width: 100%;
        max-width: 1740px;
        border: 1px blue solid;
      }
    }

    .Outlet_container {
      //this matches the height of the navbar and required to make it fixed
      margin-top: pixRem(128);
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      border: 1px red solid;

      @include md() {
        margin-top: pixRem(88);
        overflow: hidden;
      }
      @include sm() {
        margin-top: pixRem(72);
        overflow: hidden;
      }

      .Outlet_Child_Container {
        width: 100%;
        max-width: 1720px;
        // border: 1px red solid;
      }
    }
  }
}
