@use "../../assets/styles/" as *;

.SinglePropertySummary {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  column-gap: 60px;
  max-height: 400px;

  @include sm() {
    column-gap: 16px;
  }

  .left {
    width: 40%;
    max-height: 400px;

    position: relative;

    img {
      width: 100%;
      height: 400px;
    }

    .placeholder_image {
      width: 100%;
      aspect-ratio: 4/2.5;
      height: auto;
      background-color: #dcdcdc;
      border-radius: 16px;
    }

    p {
      position: absolute;
      top: 30px;
      left: 0;
      font-weight: 500;
      font-size: 19.894px;
      line-height: 24px;
      background: #d9d9d9;
      border-radius: 0px 6.63132px 6.63132px 0px;
      padding: 8px 8px 8px 24px;

      @include sm() {
        top: 8px;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        border-radius: 0px 2px 2px 0px;
        padding: 2px 2px 2px 6px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 60%;
    @include sm() {
      row-gap: 4px;
    }

    .right_top {
      display: flex;
      column-gap: 14px;
      width: 100%;
      align-items: center;
      @include sm() {
        column-gap: 3px;
      }

      img {
        width: auto;
        height: auto;
        @include sm() {
          width: 10px;
        }
      }

      p {
        font-weight: 400;
        font-size: 24.9001px;
        line-height: 30px;
        color: #000000;
        @include sm() {
          font-size: 6.71659px;
          line-height: 8px;
        }
      }
    }

    h2 {
      font-weight: 500;
      font-size: 42.7132px;
      line-height: 52px;
      color: #000000;
      @include sm() {
        font-size: 11.5215px;
        line-height: 14px;
      }
    }

    p {
      font-weight: 400;
      font-size: 28.4755px;
      line-height: 35px;
      @include sm() {
        font-size: 7.68103px;
        line-height: 9px;
      }
    }

    .buttons_container {
      display: flex;
      align-items: center;
      column-gap: 24px;
      @include sm() {
        column-gap: 20px;
      }

      .remove_button {
        background: #2e70cb;
        padding: 28px 30px;
        border: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #ffffff;
        transition: all ease 0.5s;
        cursor: pointer;
        @include sm() {
          padding: 7px 8px;
          font-size: 5.44175px;
          line-height: 7px;
        }
      }

      .remove_button:hover {
        background: #799bca;
      }

      .view_button {
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-transform: capitalize;
        background-color: #2e70cb;
        cursor: pointer;
        padding: 28px 30px;
        color: #ffffff;
        @include sm() {
          font-size: 5.44175px;
          line-height: 7px;
        }
      }

      .potential_buyers {
        display: flex;
        align-items: center;
        column-gap: 16px;
        position: relative;
        @include sm() {
          column-gap: 4px;
        }

        p {
          font-weight: 500;
          font-size: 26.9798px;
          line-height: 33px;
          color: #000000;
          @include sm() {
            font-size: 7.27759px;
            line-height: 9px;
          }
        }

        img {
          @include sm() {
            width: 15px;
          }
        }

        .potential_buyers_count {
          position: absolute;
          right: -12px;
          top: -6px;
          font-weight: 500;
          font-size: 12.3528px;
          line-height: 15px;
          color: #ffe8e8;
          background: #ff0000;
          border-radius: 13.5881px;
          padding: 2px 6px;
          @include sm() {
            font-size: 8px;
            line-height: 9px;
          }
        }
      }

      .delete_button {
        background: rgba(255, 0, 0, 0.6);
        padding: 28px 30px;
        border: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #ffffff;
        transition: all ease 0.5s;
        cursor: pointer;
        @include sm() {
          padding: 7px 8px;
          font-size: 5.44175px;
          line-height: 7px;
        }
      }
    }
  }
}
