@use "../../../assets/styles/" as *;

.PropertySummary {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer !important;
  transition: all ease 0.2s;
  text-decoration: none;

  @include sm() {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    cursor: pointer !important;
  }

  .image_container {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    @include sm() {
      border-radius: 12px;
    }

    .property_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .property_name_tag {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 12px;
    padding: 12px 0;

    .location_tag {
      display: flex;
      width: 100%;
      column-gap: 10px;
      align-items: center;

      h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        @include sm() {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    h2 {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #000000;
      text-align: left;
      @include sm() {
        font-size: 16px;
        line-height: 18px;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      opacity: 0.4;
      min-height: 72px;
      @include sm() {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .property_details_tag {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #0000004a;

    h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 26px;
      color: #000000;
      @include sm() {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .details_container {
      display: flex;
      column-gap: 12px;

      .item_detail_container {
        display: flex;
        column-gap: 2px;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #000000;
          @include sm() {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .property_category {
    position: absolute;
    top: 36px;
    left: 0;
    padding: 6px 6px 6px 18px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    background: #d9d9d9;
    border-radius: 0px 5px 5px 0px;
    z-index: 10;
  }
}

.PropertySummary:hover {
  transform: scale(1.01);
}
