@use "../../assets/styles/" as *;

.LoginPage {
  // display: flex;
  color: #524f4f;

  @include sm() {
  }
}
h1{
  font-size: 30px;
  margin-top: 40px;
  margin-left: 100px;
}
.LoginImage{
  width: 50vw;
  height: 418px;
}
.LoginContent{
  display: flex;
  margin-top: 100px;
  align-items: start;
  width: 90%
}
.LoginContentB{
  margin-left: 1rem;
  width: 500px;
}
.LoginContentB h2{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.LoginContentContainer{
  width: 100%;
  display: flex;
  justify-content:center
}
.Hello{
  color: #2e70cb;
  font-size: 30px
}
.LoginText{
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align:center
}
form{
  display: flex;
  flex-direction: column;
}
.LoginInput{
  height: 58px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
  padding-left: 10px;
}
.LoginButton{
  height: 58px;
  border-radius: 10px;
  background-color: #2e70cb;
  color: white;
  border: 0;
}
.LoginCheckBox{
  display: flex;
  width: 165px;
  justify-content: space-between;
}
.LoginRememberMe{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 18px;
}
.LoginSignUpText{
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
}
.FogetPassword, .LoginSignUpText span{
  color: #2e70cb;
  font-weight: 700;
}