@use "../../assets/styles/" as *;

.YourPropertyPage {
  padding: pixRem(20) pixRem(120);
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  column-gap: 12px;

  width: 100%;
  min-height: 50vh;
  @include sm() {
    padding: pixRem(26) pixRem(24);
    display: grid;
    grid-template-columns: 1fr 1Fr 1Fr;
    column-gap: 8px;
  }

  h1 {
    font-size: 45px;

    @include md() {
      font-size: 30px;
    }
    @include sm() {
      font-size: 15px;
    }
  }
}
