@use "../../assets/styles/" as *;

.Footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: start;
  color: #524f4f;

  @include sm() {
  }
}
h3, h1{
  color: #333333;
}
.socialIcons{
  display: flex;
  justify-content: space-between;
  width: 152px;
}
.phone{
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}
.mail{
  display: flex;
  align-items: center;
  width: 224px;
  justify-content: space-between;
}
.contact{
  width: 296px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.address{
  width:256px
}
.EliteHomes{
  width: 248px;
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.Account{
  width: 130px;
  height: 226px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.Company{
  width: 182px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.Resources{
  width: 160px;
  height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
