@use "../../assets/styles/" as *;

.PropertyListingsPage {
  .container {
    max-width: 82vw;
    margin: auto;
    box-sizing: border-box;

    h1 {
      font-size: 45px;
      margin-left: 2vw;
      margin-bottom: 1.5rem;
    }
  }
}
@include md() {
  .PropertyListingsPage {
    .container {
      width: 100%;
      max-width: 900px;
      margin: auto;
      box-sizing: border-box;

      h1 {
        font-size: 30px;
        margin-left: 6vw;
        margin-bottom: 1rem;
      }
    }
  }
}

@include sm() {
  .PropertyListingsPage {
    .container {
      width: 100%;
      max-width: 97vw;
      margin: auto;
      box-sizing: border-box;

      h1 {
        font-size: 15px;
        margin-left: 5vw;
        margin-bottom: 1rem;
      }
    }
  }
}
