@use "../../../assets/styles/" as *;

.PropertyHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: pixRem(10);

  @include sm() {
  }

  .Property_Name_Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include sm() {
      // flex-direction: column;
      // justify-content: flex-start;
    }

    h2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 60px;
      color: $fontDark;
      @include sm() {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .Property_Tags {
    display: flex;
    column-gap: pixRem(40);
    align-items: center;
    @include sm() {
      column-gap: pixRem(12);
    }

    .Tag_Name {
      padding: 8px 14px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      background: #2e70cb;
      border-radius: 10px;
      color: #ffffff;
      @include sm() {
        font-size: 12px;
        line-height: 14px;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $fontDark;
      @include sm() {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
