// Page Colors
$primary: #2e70cb;
$secondary: #0052b0;

//font colors
$fontDark: #000000;
$fontGrey: #333333;

//danger colors
$deleteButton: rgba(255, 0, 0);
$deleteButtonInactive: rgba(255, 0, 0, 0.6);
