@use "../../../assets/styles/" as *;

.propertyList {
  width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10rem;

  .leftPositioned {
    width: 400px;
    height: 349px;
    .image {
      position: relative;
      .imgg {
        width: 510px;
        height: 349px;
      }
      .backgroundColor {
        position: absolute;
        top: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 510px;
        height: 349px;
      }
      p {
        position: absolute;
        top: 29px;
        background-color: #d9d9d9;
        padding: 6px 5px 4px 14px;
        font-size: 19px;
        text-transform: capitalize;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .rightPositioned {
    width: 520px;
    div {
      display: flex;
      margin-top: 4px;
      align-items: center;
      img {
        width: 22.4px;
        height: 25.5px;
      }
      p {
        margin-left: 10px;
        font-size: 24px;
      }
    }
    h2 {
      font-size: 42px;
      font-weight: 500;
      margin-top: 0.5rem;
    }
    .longText {
      margin-top: 1rem;
      font-size: 28px;
      font-weight: 400;
      height: 9.5rem;
      color: rgba($color: #000000, $alpha: 0.4);
    }
    .btnFlex {
      display: grid;
      grid-template-columns: auto auto;
      gap: 2rem;
      .removeBtn {
        border-radius: 0;
        padding: 20px 20px;
        background-color: $deleteButtonInactive;
      }

      .buyersBtn {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        cursor: pointer;
        .buyersText {
          font-weight: 500;
          font-size: 26px;
          margin-left: 0;
          margin-right: 15px;
          padding: 15px 0;
          color: rgba($color: #000000, $alpha: 0.4);
        }
        .counter {
          position: relative;
          img {
            width: 33px;
            height: 19px;
          }
          p {
            position: absolute;
            bottom: 10px;
            left: 8px;
            font-weight: 500;
            font-size: 13px;
            background-color: $deleteButton;
            padding: 2px 10px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            color: white;
          }
        }
      }
    }
  }
}

.horizontalRule {
  width: 1160px;
  margin: 1rem auto 2rem;
  height: 2px;
  background-color: rgba($color: #000000, $alpha: 0.2);
}

@include md() {
  .propertyList {
    width: 668px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;

    .leftPositioned {
      width: 294px;
      height: 202px;
      .image {
        position: relative;
        .imgg {
          width: 284px;
          height: 202px;
        }
        .backgroundColor {
          position: absolute;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.2);
          width: 284px;
          height: 202px;
        }
        p {
          position: absolute;
          top: 24px;
          background-color: #d9d9d9;
          padding: 10px 8px 8px 14px;
          font-size: 14px;
          text-transform: capitalize;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }

    .rightPositioned {
      width: 352px;
      div {
        display: flex;
        margin-top: 2.5px;
        align-items: center;
        img {
          width: 14.6px;
          height: 16.6px;
        }
        p {
          margin-left: 6.8px;
          font-size: 16px;
        }
      }
      h2 {
        font-size: 28px;
        font-weight: 500;
        margin-top: 10px;
      }
      .longText {
        margin-top: 4px;
        font-size: 18px;
        font-weight: 400;
        height: 85px;
        color: rgba($color: #000000, $alpha: 0.4);
      }
      .btnFlex {
        display: grid;
        grid-template-columns: auto auto;

        .removeBtn {
          border-radius: 0;
          padding: 12px 16px;
          font-size: 10px;
        }

        .buyersBtn {
          display: flex;
          align-items: center;
          margin-bottom: 13px;
          cursor: pointer;
          .buyersText {
            font-weight: 500;
            font-size: 20px;
            margin-left: 0;
            margin-right: 15px;
            padding: 6px 0;
            color: rgba($color: #000000, $alpha: 0.4);
          }
          .counter {
            position: relative;
            img {
              width: 33px;
              height: 19px;
            }
            p {
              position: absolute;
              bottom: 10px;
              left: 8px;
              font-weight: 500;
              font-size: 11px;
              background-color: $deleteButton;
              padding: 2px 10px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              color: white;
            }
          }
        }
      }
    }
  }

  .horizontalRule {
    width: 90vw;
    margin: 0 auto 15px;
    height: 2px;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}
@include sm() {
  .propertyList {
    width: 87vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;

    .leftPositioned {
      width: 142px;
      height: 96px;
      .image {
        position: relative;
        .imgg {
          width: 142px;
          height: 96px;
        }
        .backgroundColor {
          position: absolute;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.2);
          width: 142px;
          height: 96px;
        }
        p {
          position: absolute;
          top: 9px;
          background-color: #d9d9d9;
          padding: 2px 1.7px 1.3px 4.7px;
          font-size: 8px;
          text-transform: capitalize;
          border-top-right-radius: 1.7px;
          border-bottom-right-radius: 1.7px;
        }
      }
    }

    .rightPositioned {
      width: 177px;
      div {
        display: flex;
        margin-top: 1.3px;
        align-items: center;
        img {
          width: 7.6px;
          height: 8.6px;
        }
        p {
          margin-left: 3.4px;
          font-size: 8.1px;
        }
      }
      h2 {
        font-size: 14.2px;
        font-weight: 500;
        margin-top: 4px;
      }
      .longText {
        margin-top: 4px;
        font-size: 9px;
        font-weight: 400;
        height: 36px;
        color: rgba($color: #000000, $alpha: 0.4);
      }
      .btnFlex {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;

        .removeBtn {
          border-radius: 0;
          padding: 6px 8px;
          font-size: 5px;
        }

        .buyersBtn {
          display: flex;
          align-items: center;
          margin-bottom: 13px;
          cursor: pointer;
          .buyersText {
            font-weight: 500;
            font-size: 8px;
            margin-left: 0;
            margin-right: 10px;
            padding: 4px 0;
            color: rgba($color: #000000, $alpha: 0.4);
          }
          .counter {
            position: relative;
            img {
              width: 9px;
              height: 6px;
            }
            p {
              position: absolute;
              bottom: 3px;
              left: 3px;
              font-weight: 500;
              font-size: 4px;
              background-color: $deleteButton;
              padding: 1px 2px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              color: white;
            }
          }
        }
      }
    }
  }

  .horizontalRule {
    width: 90vw;
    margin: 0 auto 15px;
    height: 2px;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}
